---
---

// 1. Layout Variables Override
$content-width: 1200px; // 全体の最大幅を広げる
$header-width: 200px;   // 左サイドバー（インデックス）を細くする（標準は270px）

// 2. Load Theme
@import "{{ site.theme }}";

// 3. Custom Styles
// 以前非表示にしたボタン類を表示に戻す
header ul, header p.view {
  display: block; 
}

// モバイル表示調整などあればここに追記
